@model IEnumerable<Product_Cate_Crud.Models.Product>

@{
    ViewData["Title"] = "ViewCart";
}

        <div class="container">
  <div class="row">
      @foreach (var item in Model) {
    <div class="col-md-3">
      <div class="card product" >
                <img src="@Url.Content(item.Imageurl)" height="200" width="200" class="singleImg"/><br />
  <div class="card-body">
    <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Name)<br /></h5>
        <h6 class="card-title">Price: @Html.DisplayFor(modelItem => item.Price)<br /></h6>
        <h6 class="card-title">Category: @Html.DisplayFor(modelItem => item.Cname)<br /></h6>
        @*<h6 class="card-title">Quantity: @Html.DisplayFor(modelItem => item.Quantity)<br /></h6>*@

   <a href="/Cart/RemoveCart/@item.Cartid" class="btn btn-primary ">Remove Cart</a>

   <a href="/Order/PlaceOrders/@item.Id" class="btn btn-primary ">Place Order</a>

    
  </div>
</div>
    </div>
    }
  </div>
</div>